<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" style="height:100%">
<head>
<title>大厅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<div th:replace="commons/head :: common-ref"></div>
</head>
<body style="height:100%">
	<div class="container-fluid" style="height:100%;background:#DDDDDD">
		<div class="row" style="height:50%">
			<div class="col-md-3" style="height:100%">
				<button type="button" class="btn btn-default btn-lg btn-block" style="height:100%">房间1</button>
			</div>
			<div class="col-md-3" style="height:100%">
				<button type="button" class="btn btn-default btn-lg btn-block">房间2</button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg btn-block">房间3</button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg btn-block">房间4</button>
			</div>
		</div>
		<div class="row" style="height:50%">
			<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg btn-block">房间5</button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg btn-block">房间6</button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg btn-block">房间7</button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg btn-block">房间8</button>
			</div>
		</div>
	</div>
</body>
</html>