<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" style="height:100%">
<head>
<title>大厅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<div th:replace="commons/head :: common-ref"></div>
</head>
<body style="height:100%">
	<div class="container-fluid" style="height:100%;background:#DDDDDD">
		<div class="row" style="margin:10px">
			<div class="col-md-12" style="border:1px solid #F00">
				<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="80" width="80" />
				&nbsp&nbsp
				<h3 style="display: inline-block"><span class="label label-default">用户名：方法</span></h3>
				&nbsp&nbsp
				<h3 style="display: inline-block"><span class="label label-default"  role="button" onclick="javascript:alert()">退出</span></h3>
			</div>
		
		</div>
		<div class="row" style="margin:10px">
				<div class="col-md-3" style="border:1px solid black">
					<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
			<div class="col-md-3 col-md-offset-1" style="border:1px solid black">
				<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
			<div class="col-md-3 col-md-offset-1" style="border:1px solid black">
				<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
		</div>
		<div class="row" style="margin:10px">
				<div class="col-md-3" style="border:1px solid black">
					<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
			<div class="col-md-3 col-md-offset-1" style="border:1px solid black">
				<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
			<div class="col-md-3 col-md-offset-1" style="border:1px solid black">
				<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
		</div>
		<div class="row" style="margin:10px">
				<div class="col-md-3" style="border:1px solid black">
					<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
			<div class="col-md-3 col-md-offset-1" style="border:1px solid black">
				<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
			<div class="col-md-3 col-md-offset-1" style="border:1px solid black">
				<div class="col-md-7" >
						<h3>姓名</h3>
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="100" width="100" />
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<h1 style="display: inline-block">房主</h1>
					</div>
					<div class="col-md-5" >
						<br><br><br>
						<button class="btn btn-default btn-lg" type="submit" style="vertical-align: middle">加入游戏</button>
					</div>
	
					<div class="col-md-12">
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
						<img th:src="@{/image/123.jpg}" class="img-thumbnail" height="40" width="40" />
					</div>
			</div>
		</div>
		<div class="col-md-12" style="border:1px solid black" style="height:90;margin:10px">
			<button type="button" class="btn btn-info">（一般信息）Info</button>
			<button type="button" class="btn btn-info">（一般信息）Info</button>
			<button type="button" class="btn btn-info">（一般信息）Info</button>
		</div>
	</div>
</body>
</html>